.message {

    position: absolute;
    width: 1280px;
    height: 373px;
    left: 0px;
    top: 131px;
}

.imageAndText {

}

.imageAndText img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1162px;
    top: 204px;


}

.text {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 635px;
    top: 192px;

    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.text:after {
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);

}

.name {

}

.messageText {

}

.time {

    position: absolute;
    width: 26px;
    height: 12px;
    left: 1173px;
    top: 257px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    color: #000000;
}