.message {

    position: absolute;
    width: 527px;
    height: 60px;
    left: 635px;
    top: 192px;

    background: #0066CC;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);

}

.imageAndText {

}

.imageAndText img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 527px;
    top: 0px;




}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {
    position: absolute;
    width: 26px;
    height: 12px;
    left: 537px;
    top: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

}