.friendMessage {
    position: absolute;
    width: 462px;
    height: 77px;
    left: 70px;
    top: 299px;
}

.friendImageAndText {

}

.friendImageAndText img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 70px;
    top: 311px;


}

.friendText {
    position: absolute;
    width: 414px;
    height: 60px;
    left: 118px;
    top: 299px;

    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    position: absolute;
    width: 29px;
    height: 12px;
    left: 80px;
    top: 364px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}
