.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: #cc0000;
}

.input {

}

.input:focus {
}

.errorInput {

}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
