.button {
}

.disabled {
}

.secondary {
    background: #0066CC;

}

.default {
    background-color: gray;
}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
